
.text-font
{
color:white !important;
padding-left:70px !important;
box-sizing: border-box;

}
.user{
  text-align: center;
  margin: 20px;
  margin-left:350px;
  padding: 20px;
  height: 450px;
  width: 600px;
  border-radius: 10px;
  background-color: rgba(210, 102, 102, 0.667);
}
.input{
  margin-right:0px;
  margin-top: 25px;
  padding: 10px;
  height: 40px;
  width:400px;
  border: none;
  border-radius: 10px;

}
.btn{
  margin-right:40px;
  margin-top: 30px;
  padding: 10px;
  height: 40px;
  width:200px;
  border-radius: 10px;
  background-color: rgb(4, 78, 53) !important;
  color:white !important;
}
.outer{
  text-align: center;
  margin: 20px;
}